In [1]:
# import libraries
import time
import pandas as pd
import numpy as np

In [2]:
CITY_DATA = {'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv'}

### To handle any wrong in Input

In [3]:
def check_input(input_str,input_type):
    while True:
        input_read=input(input_str)
        try:
            if input_read in ['chicago','new york city','washington'] and input_type == 1:
                break
            elif input_read in ['january', 'february', 'march', 'april', 'may', 'june','all'] and input_type == 2:
                break
            elif input_read in ['sunday','monday','tuesday','wednesday','thursday','friday','saturday','all'] and input_type == 3:
                break
            else:
                if input_type == 1:
                    print("Sorry, your input should be: chicago new york city or washington")
                if input_type == 2:
                    print("Sorry, your input should be: january, february, march, april, may, june or all")
                if input_type == 3:
                    print("Sorry, your input should be: sunday, ... friday, saturday or all")
        except ValueError:
            print("Sorry, your input is wrong")
    return input_read

### Read input from user

In [4]:
#Function to figure out the filtering requirements of the user
def get_filters():
    """
    Asks user to specify a city, month, and day to analyze.
    Args:
        None.
    Returns:
        str (city): name of the city to analyze
        str (month): name of the month to filter by, or "all" to apply no month filter
        str (day): name of the day of week to filter by, or "all" to apply no day filter
    """
    #Initializing an empty city variable to store city choice from user
    #You will see this repeat throughout the program
    city = ''
    #Running this loop to ensure the correct user input gets selected else repeat
    while city not in CITY_DATA.keys():
        print("\nWelcome to this program. Please choose your city:")
        print("\n1. Chicago 2. New York City 3. Washington")
        #Taking user input and converting into lower to standardize them
        #You will find this happening at every stage of input throughout this
        city = input().lower()

        if city not in CITY_DATA.keys():
            print("\nPlease check your input, it doesn\'t appear to be conforming to any of the accepted input formats.")
            print("\nRestarting...")

    print(f"\nYou have chosen {city.title()} as your city.")

    #Creating a dictionary to store all the months including the 'all' option
    MONTH_DATA = {'january': 1, 'february': 2, 'march': 3, 'april': 4, 'may': 5, 'june': 6, 'all': 7}
    month = ''
    while month not in MONTH_DATA.keys():
        print("\nPlease enter the month, between January to June, for which you're seeking the data:")
        print("\nAccepted input:\nFull month name; not case sensitive (e.g. january or JANUARY).\nFull month name in title case (e.g. April).")
        print("\n(You may also opt to view data for all months, please type 'all' or 'All' or 'ALL' for that.)")
        month = input().lower()

        if month not in MONTH_DATA.keys():
            print("\nInvalid input. Please try again in the accepted input format.")
            print("\nRestarting...")

    print(f"\nYou have chosen {month.title()} as your month.")

    #Creating a list to store all the days including the 'all' option
    DAY_LIST = ['all', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
    day = ''
    while day not in DAY_LIST:
        print("\nPlease enter a day in the week of your choice for which you're seeking the data:")
        print("\nAccepted input:\nDay name; not case sensitive (e.g. monday or MONDAY).\nDay name in title case (e.g. Monday).")
        print("\n(You can also put 'all' or 'All' to view data for all days in a week.)")
        day = input().lower()

        if day not in DAY_LIST:
            print("\nInvalid input. Please try again in one of the accepted input formats.")
            print("\nRestarting...")

    print(f"\nYou have chosen {day.title()} as your day.")
    print(f"\nYou have chosen to view data for city: {city.upper()}, month/s: {month.upper()} and day/s: {day.upper()}.")
    print('-'*80)
    #Returning the city, month and day selections
    return city, month, day

### Loads data for the specified city and filters by month and day

In [5]:
def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - Pandas DataFrame containing city data filtered by month and day
    """

    # load data file into a dataframe
    df = pd.read_csv(CITY_DATA[city])

    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])

     # extract month, day of week, hour from Start Time to create new columns
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.day_name()
    df['hour'] = df['Start Time'].dt.hour

    # filter by month if applicable
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = ['january', 'february', 'march', 'april', 'may', 'june']
        month = months.index(month) + 1

        # filter by month to create the new dataframe
        df = df[df['month'] == month]

    # filter by day of week if applicable
    if day != 'all':
        # filter by day of week to create the new dataframe
        df = df[df['day_of_week'] == day.title()]

    return df

### 1 Popular times of travel

In [6]:
def time_of_travel(df):
    start_time=time.time()
    # display the most common month
    print('Most Common Month:',df['month'].mode()[0])
    # display the most common day of week
    print('Most Common Day:',df['day_of_week'].mode()[0])
    # display the most common start hour
    print('Most Common Hour:',df['hour'].mode()[0])
    print('Elapsed time %s seconds.'%(time.time()-start_time))
    print('-'*40)

### 2 Popular stations and trip

In [7]:
def station_and_trip(df):
    start_time=time.time()
    # TO DO: display most commonly used start station
    print('Most Common Start Station:',df['Start Station'].mode()[0])
    # TO DO: display most commonly used end station
    print('Most Common End Station:',df['End Station'].mode()[0])
    # TO DO: display most frequent combination of start station and end station trip
    group=df.groupby(['Start Station','End Station'])
    print(group.size().sort_values(ascending=False).head(1))
    print('Elapsed time %s seconds.'%(time.time()-start_time))
    print('-'*40)

### 3 Trip duration

In [8]:
def trip_duration(df):
    start_time=time.time()
    # TO DO: display total travel time
    print('Total Travel Time:',df['Trip Duration'].sum())
    # TO DO: display mean travel time
    print('Average  Travel Time:',df['Trip Duration'].mean())
    print('Elapsed time %s seconds.'%(time.time()-start_time))
    print('-'*40)

### 4 User info

In [9]:
def users_info(df,city):
    start_time=time.time()
    # TO DO: Display counts of user types
    print('The counts of each user type:\n',df['User Type'].value_counts())
    if city !='washington':
        # TO DO: Display counts of gender
        print('The counts of each gender:\n',df['Gender'].value_counts())
        # TO DO: Display earliest, most recent, and most common year of birth
        print('Most common year of birth:',df['Birth Year'].mode()[0])
        print('Most recent year of birth:',df['Birth Year'].max())
        print('Earliest year of birth:',df['Birth Year'].min())
    print('Elapsed time %s seconds.'%(time.time()-start_time))
    print('-'*40)

In [10]:
def display_data(df):
    """Displays 5 rows of data 
    Args:
        parameter(1) (df): The data frame you wish to work with.
    Returns:
        None.
    """
    list = ['yes', 'no']
    rdata = ''
    #counter variable is initialized as a tag to ensure only details from
    #a particular point is displayed
    counter = 0
    while rdata not in list:
        view_data = input('\nWould you like to view 5 rows of individual trip data?')
        rdata = input('\nEnter yes or no\n').lower()
        #the raw data from the df is displayed if user opts for it
        if rdata == "yes":
            print(df.head())
        elif rdata not in list:
            print("\nPlease check your input.")
            print("Input does not seem to match any of the accepted responses.")
            print("\nRestarting...\n")

    #Extra while loop here to ask user if they want to continue viewing data
    while rdata == 'yes':
        view_data = input("Do you wish to continue?: ").lower()
        counter += 5
        rdata = input().lower()
        #If user opts for it, this displays next 5 rows of data
        if rdata == "yes":
             print(df[counter:counter+5])
        elif rdata != "yes":
             break

    print('-'*40)

In [11]:
def main():
    while True:
        city, month, day = get_filters()
        df = load_data(city, month, day)
        
        time_of_travel(df)
        station_and_trip(df)
        trip_duration(df)
        users_info(df,city)
        display_data(df)
        
        restart=input('Try Again? yes or no')
        if restart != 'Yes':
            break
        
        
if __name__ == "__main__":
    main()

Welcome to this program. Please choose your city:

1. Chicago 2. New York City 3. Washington
Chicago

Please check your input, it doesn't appear to be conforming to any of the accepted input formats.

Restarting...

Welcome to this program. Please choose your city:

1. Chicago 2. New York City 3. Washington
chicago

You have chosen Chicago as your city.

Please enter the month, between January to June, for which you're seeking the data:

Accepted input:
Full month name; not case sensitive (e.g. january or JANUARY).
Full month name in title case (e.g. April).

(You may also opt to view data for all months, please type 'all' or 'All' or 'ALL' for that.)
all

You have chosen All as your month.

Please enter a day in the week of your choice for which you're seeking the data:

Accepted input:
Day name; not case sensitive (e.g. monday or MONDAY).
Day name in title case (e.g. Monday).

(You can also put 'all' or 'All' to view data for all days in a week.)
all

You have chosen All as your day.

You have chosen to view data for city: CHICAGO, month/s: ALL and day/s: ALL.
--------------------------------------------------------------------------------
Most Common Month: 6
Most Common Day: Tuesday
Most Common Hour: 17
Elapsed time 0.02493596076965332 seconds.
----------------------------------------
Most Common Start Station: Streeter Dr & Grand Ave
Most Common End Station: Streeter Dr & Grand Ave
Start Station              End Station
Lake Shore Dr & Monroe St  Streeter Dr & Grand Ave    854
dtype: int64
Elapsed time 0.11070370674133301 seconds.
----------------------------------------
Total Travel Time: 280871787
Average  Travel Time: 936.23929
Elapsed time 0.000997781753540039 seconds.
----------------------------------------
The counts of each user type:
 Subscriber    238889
Customer       61110
Dependent          1
Name: User Type, dtype: int64
The counts of each gender:
 Male      181190
Female     57758
Name: Gender, dtype: int64
Most common year of birth: 1989.0
Most recent year of birth: 2016.0
Earliest year of birth: 1899.0
Elapsed time 0.04687190055847168 seconds.
----------------------------------------

Would you like to view 5 rows of individual trip data?yes

Enter yes or no
yes
   Unnamed: 0          Start Time             End Time  Trip Duration  \
0     1423854 2017-06-23 15:09:32  2017-06-23 15:14:53            321
1      955915 2017-05-25 18:19:03  2017-05-25 18:45:53           1610
2        9031 2017-01-04 08:27:49  2017-01-04 08:34:45            416
3      304487 2017-03-06 13:49:38  2017-03-06 13:55:28            350
4       45207 2017-01-17 14:53:07  2017-01-17 15:02:01            534

                   Start Station                   End Station   User Type  \
0           Wood St & Hubbard St       Damen Ave & Chicago Ave  Subscriber
1            Theater on the Lake  Sheffield Ave & Waveland Ave  Subscriber
2             May St & Taylor St           Wood St & Taylor St  Subscriber
3  Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave  Subscriber
4         Clark St & Randolph St  Desplaines St & Jackson Blvd  Subscriber

   Gender  Birth Year  month day_of_week  hour
0    Male      1992.0      6      Friday    15
1  Female      1992.0      5    Thursday    18
2    Male      1981.0      1   Wednesday     8
3    Male      1986.0      3      Monday    13
4    Male      1975.0      1     Tuesday    14
Do you wish to continue?: yes
yes
   Unnamed: 0          Start Time             End Time  Trip Duration  \
5     1473887 2017-06-26 09:01:20  2017-06-26 09:11:06            586
6      961916 2017-05-26 09:41:44  2017-05-26 09:46:25            281
7       65924 2017-01-21 14:28:38  2017-01-21 14:40:41            723
8      606841 2017-04-20 16:08:51  2017-04-20 16:20:20            689
9      135470 2017-02-06 18:00:47  2017-02-06 18:09:00            493

                  Start Station                    End Station   User Type  \
5  Clinton St & Washington Blvd           Canal St & Taylor St  Subscriber
6         Ashland Ave & Lake St           Wood St & Hubbard St  Subscriber
7    Larrabee St & Kingsbury St     Larrabee St & Armitage Ave    Customer
8        Sedgwick St & Huron St  Halsted St & Blackhawk St (*)  Subscriber
9  Stetson Ave & South Water St   Clinton St & Washington Blvd  Subscriber

   Gender  Birth Year  month day_of_week  hour
5    Male      1990.0      6      Monday     9
6  Female      1983.0      5      Friday     9
7     NaN         NaN      1    Saturday    14
8    Male      1984.0      4    Thursday    16
9    Male      1979.0      2      Monday    18
Do you wish to continue?: yes
yes
    Unnamed: 0          Start Time             End Time  Trip Duration  \
10      175805 2017-02-15 07:09:55  2017-02-15 07:14:56            301
11       71678 2017-01-22 15:15:45  2017-01-22 15:31:02            917
12       19061 2017-01-08 16:03:00  2017-01-08 16:07:37            277
13     1023296 2017-05-30 15:46:18  2017-05-30 15:52:12            354
14      611000 2017-04-20 19:26:33  2017-04-20 19:35:08            515

                     Start Station                      End Station  \
10            Broadway & Barry Ave         Wilton Ave & Belmont Ave
11  Southport Ave & Wellington Ave           Clark St & Schiller St
12           Green St & Madison St         Ada St & Washington Blvd
13      Larrabee St & Kingsbury St                Clark St & Elm St
14           Canal St & Madison St  Racine Ave (May St) & Fulton St

     User Type  Gender  Birth Year  month day_of_week  hour
10  Subscriber  Female      1993.0      2   Wednesday     7
11  Subscriber    Male      1964.0      1      Sunday    15
12  Subscriber    Male      1961.0      1      Sunday    16
13  Subscriber    Male      1985.0      5     Tuesday    15
14  Subscriber    Male      1984.0      4    Thursday    19
Do you wish to continue?: no
no
----------------------------------------
Try Again? yes or noyes